.social_links-container {
  display: flex;
  flex-wrap: wrap;
  width: 580px;
  justify-content: center;
}

.social_link-container {
  height: 50px;
  width: 50px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(41, 38, 38, 0.897);
  border-radius: 15px;
  box-shadow: 2px 5px 10px rgb(31, 30, 30);
  cursor: pointer;
  transition: all 0.3s ease;
}

.social_link-container:hover {
  transform: translateY(-3px);
  box-shadow: 2px 10px 20px rgb(0, 0, 0);
}

.social_image {
  background-size: cover;
  padding: 5px;
  height: 30px;
  width: 30px;
}

@media (max-width: 800px) {
  .social_links-container {
    width: 400px;
  }
}

@media (max-width: 540px) {
  .social_links-container {
    width: 300px;
  }

  .social_link-container {
    height: 40px;
    width: 40px;
    margin: 10px;
  }

  .social_image {
    padding: 5px;
    height: 20px;
    width: 20px;
  }
}

@media (max-width: 430px) {
  .social_links-container {
    width: 250px;
  }

  .social_link-container {
    height: 40px;
    width: 40px;
    margin: 10px;
  }

  .social_image {
    padding: 5px;
    height: 20px;
    width: 20px;
  }
}
